<!--
  This file is responsible for rendering a single blog post.
-->
{{ template "template/header.html" . }}

<body>
{{ template "template/navbar.html" . }}
    
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{ .Params.header_image }}')">
    <div class="container">
        <div class="row">
            <div class="page-heading">
                <h1>{{ .Title }}</h1>
                <hr class="small">
                <span class="subheading">{{ .Description }}</span>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">

    <div class="row">
        {{ .Content }}
    </div>

</div>

<hr>

{{ template "template/footer.html" . }}